<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-url-heading" data-cy="UrlCreateUpdateHeading">Create or edit a Url</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">Id</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_driveUrl">Drive Url</label>
          <input type="text" class="form-control" name="driveUrl" id="field_driveUrl" data-cy="driveUrl" formControlName="driveUrl" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_type">Type</label>
          <input type="text" class="form-control" name="type" id="field_type" data-cy="type" formControlName="type" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_document">Document</label>
          <select
            class="form-control"
            id="field_document"
            data-cy="document"
            name="document"
            formControlName="document"
            [compareWith]="compareDocument"
          >
            <option [ngValue]="null"></option>
            @for (documentOption of documentsSharedCollection; track $index) {
              <option [ngValue]="documentOption">{{ documentOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
