<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (url()) {
      <div>
        <h2 data-cy="urlDetailsHeading"><span>Url</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>Id</span></dt>
          <dd>
            <span>{{ url()!.id }}</span>
          </dd>
          <dt><span>Drive Url</span></dt>
          <dd>
            <span>{{ url()!.driveUrl }}</span>
          </dd>
          <dt><span>Type</span></dt>
          <dd>
            <span>{{ url()!.type }}</span>
          </dd>
          <dt><span>Document</span></dt>
          <dd>
            @if (url()!.document) {
              <div>
                <a [routerLink]="['/document', url()!.document?.id, 'view']">{{ url()!.document?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/url', url()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
