<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (subject()) {
      <div>
        <h2 data-cy="subjectDetailsHeading"><span>Subject</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>Id</span></dt>
          <dd>
            <span>{{ subject()!.id }}</span>
          </dd>
          <dt><span>Name</span></dt>
          <dd>
            <span>{{ subject()!.name }}</span>
          </dd>
          <dt><span>Code</span></dt>
          <dd>
            <span>{{ subject()!.code }}</span>
          </dd>
          <dt><span>Major</span></dt>
          <dd>
            @if (subject()!.major) {
              <div>
                <a [routerLink]="['/major', subject()!.major?.id, 'view']">{{ subject()!.major?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/subject', subject()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
